<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <p>Hi, <%= @user.first_name %></p>
    <p>
      Your instance <%= @instance.name + ' (' + @instance.instance_type + ')'%> has been terminated and you will not be charged from here onwards.
    </p>
  </body>
</html>