<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to mops, <%= @user.first_name %></h1>
    <p>
      Your request have been processed. You will be notified after successful lanch of your instance <%= @instance.name + ' (' + @instance.instance_type + ')'%>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>