<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi, <%= @user.first_name %></p>
    <p>
      Your request for launching instance <%= @instance.name + ' (' + @instance.instance_type + ')' %> with AMI (<%= @instance.ami %>) is under process. You will be notified with the details after successful launch of your instance.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>