<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi, <%= @user.first_name %></p>
    <p>
      Your instance <%= @instance.name + ' (' + @instance.instance_type + ')' %> with Instance Id (<%= @instance.ec2_instance_id %>) has been launched successfully. 
    </p>
    <p>
      You can now access your instance at <%= @instance.dns_name %>
    </p>
  </body>
</html>