<!-- BEGIN REVOLUTION SLIDER -->
<div class="fullwidthbanner-container slider-main">
	<div class="fullwidthabnner">
		<ul id="revolutionul" style="display:none;">
			<!-- THE FIRST SLIDE -->
			<li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="assets/img/sliders/revolution/thumbs/thumb2.jpg">
				<!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
				<img src="assets/bg1.jpg" alt="">

				<div class="caption lft slide_title slide_item_left"
				data-x="0"
				data-y="105"
				data-speed="400"
				data-start="1500"
				data-easing="easeOutExpo">
					Managed Open Source Hosting
				</div>
				<div class=" caption lft slide_subtitle slide_item_left"
				data-x="0"
				data-y="180"
				data-speed="400"
				data-start="2000"
				data-easing="easeOutExpo">
					<img class="img-responsive" src="assets/logo_sugarcrm_white.png" alt="">
					<!--Sugar CRM-->
				</div>
				<div class="caption lft slide_subtitle slide_item_left"
				data-x="200"
				data-y="180"
				data-speed="400"
				data-start="2500"
				data-easing="easeOutExpo">
					<img class="img-responsive" src="assets/logo_vtiger_white.png" alt="">
					<!--Vtiger CRM-->
				</div>
				<div class=" caption lft slide_subtitle slide_item_left"
				data-x="400"
				data-y="180"
				data-speed="400"
				data-start="3000"
				data-easing="easeOutExpo">
					<img class="img-responsive" src="assets/logo_weberp_white.png" alt="">
					<!-- Web ERP-->
				</div>
				<div class="caption lft slide_desc slide_item_left"
				data-x="0"
				data-y="330"
				data-speed="400"
				data-start="3500"
				data-easing="easeOutExpo">
					We manage your business process infrastructure.
				</div>
				<a class="caption lft btn green slide_btn slide_item_left" href="#"
				data-x="0"
				data-y="390"
				data-speed="400"
				data-start="4000"
				data-easing="easeOutExpo"> Start Your Free Trial </a>
				<div class="caption lfb"
				data-x="640"
				data-y="55"
				data-speed="700"
				data-start="1000"
				data-easing="easeOutExpo"  >
					<img src="assets/servers.png" alt="Image 1">
				</div>
			</li>

		</ul>
		<div class="tp-bannertimer tp-bottom"></div>
	</div>
</div>
<!-- END REVOLUTION SLIDER -->

<!-- BEGIN CONTAINER -->
<div class="container">
	<!-- BEGIN SERVICE BOX -->
	<div class="row service-box">
		<div class="col-md-4 col-sm-4">
			<div class="service-box-heading">
				<em><i class="fa fa-location-arrow blue"></i></em>
				<span>Fully Managed Server</span>
			</div>
			<p>
				We will manage your server for any problems or outages.
			</p>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="service-box-heading">
				<em><i class="fa fa-check red"></i></em>
				<span>Low Cost Of Customization</span>
			</div>
			<p>
				We customize CRM/ERP servers for you at minimum cost.
			</p>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="service-box-heading">
				<em><i class="fa fa-compress green"></i></em>
				<span>Mobile Ready</span>
			</div>
			<p>
				All your servers can be fully accessed on mobile via apps.
			</p>
		</div>
	</div>
	<!-- END SERVICE BOX -->

	<!-- BEGIN BLOCKQUOTE BLOCK -->
	<div class="row quote-v1">
		<div class="col-md-9 quote-v1-inner">
			<span>Launch A trial Server Now</span>
		</div>
		<div class="col-md-3 quote-v1-inner text-right">
			<a class="btn-transparent" href="<%= launch_server_path %>" target="_blank"><i class="fa fa-rocket margin-right-10"></i>Launch Server</a>
		</div>
	</div>
	<!-- END BLOCKQUOTE BLOCK -->

	<div class="clearfix"></div>

	<!-- BEGIN CLIENTS -->
	<div class="row margin-bottom-40 our-clients">
		<div class="col-md-3">
			<h2><a href="#">Our Clients</a></h2>
			<p>
				We proudly present our list of clients.
			</p>
		</div>
		<div class="col-md-9">
			<ul class="bxslider1 clients-list">
				<li>
					<a href="#"> <img src="assets/deestat_gray.png" alt="" /> <img src="assets/deestat.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a href="#"> <img src="assets/golfwarehouse_gray.png" alt="" /> <img src="assets/golfwarehouse.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a href="#"> <img src="assets/ipasystems_gray.png" alt="" /> <img src="assets/ipasystems.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a href="#"> <img src="assets/onboardsolutionsllc_gray.png" alt="" /> <img src="assets/onboardsolutionsllc.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a href="#"> <img src="assets/onthru_gray.png" alt="" /> <img src="assets/onthru.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a href="#"> <img src="assets/operasoft_gray.png" alt="" /> <img src="assets/operasoft.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a href="#"> <img src="assets/razorit_gray.png" alt="" /> <img src="assets/razorit.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a href="#"> <img src="assets/zumatel_gray.png" alt="" /> <img src="assets/zumatel.png" class="color-img" alt="" /> </a>
				</li>
			</ul>
		</div>
	</div>
	<!-- END CLIENTS -->
</div>
<!-- END CONTAINER -->
<% content_for :inline_scripts do %>
<script type="text/javascript">
	window.onload = function() {
		$('ul.navbar-nav li').removeClass('active');
		$('ul.navbar-nav li:first').addClass('active');
	}; 
</script>
<% end %>