<!-- BEGIN BREADCRUMBS -->
<div class="row breadcrumbs margin-bottom-40">
	<div class="container">
		<div class="col-md-4 col-sm-4">
			<h1>Pricing</h1>
		</div>
		<div class="col-md-8 col-sm-8">
			<ul class="pull-right breadcrumb">
				<li>
					<a href="/landing">Home</a>
				</li>
				<li class="active">
					Pricing
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END BREADCRUMBS -->

<!-- BEGIN CONTAINER -->
<div class="container min-hight">
	<!-- BEGIN PRICING OPTION1 -->
	<div class="row margin-bottom-40">
		<div class="col-md-4">
			<div class="pricing">
				<div class="pricing-head">
					<h3>Basic<span>Give it a start</span></h3>
					<h4><i>$</i>20<i>.00</i><span>Per Month</span></h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						<i class="icon-tags"></i> 3 Users
					</li>
					<li>
						<i class="icon-asterisk"></i> Server Location of Your Choice
					</li>
					<li>
						<i class="icon-heart"></i> 30 GB SSD Storage
					</li>
				</ul>
				<div class="pricing-footer">
					<p>Basic Plan for Getting Started with your Application</p>
					<a href="<%= launch_server_path(type: "basic")%>" class="btn theme-btn">Get Started</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="pricing">
				<div class="pricing-head">
					<h3>Small<span>Expand to next Level</span></h3>
					<h4><i>$</i>50<i>.00</i><span>Per Month</span></h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						<i class="icon-tags"></i> 8 Users
					</li>
					<li>
						<i class="icon-asterisk"></i> Server Location of Your Choice
					</li>
					<li>
						<i class="icon-heart"></i> 40 GB SSD Storage
					</li>
				</ul>
				<div class="pricing-footer">
					<p>Typically for small and medium organisations with a dedicated sales team.</p>
					<a href="<%= launch_server_path(type: "small")%>" class="btn theme-btn">Launch</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="pricing ">
				<div class="pricing-head ">
					<h3>Business<span>For Large Organisations</span></h3>
					<h4><i>$</i>90<i>.00</i><span>Per Month</span></h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						<i class="icon-tags"></i> 15 Users
					</li>
					<li>
						<i class="icon-asterisk"></i> Server Location of Your Choice
					</li>
					<li>
						<i class="icon-heart"></i> 60 GB SSD Storage
					</li>
				</ul>
				<div class="pricing-footer">
					<p>Typically for large scale Organisations having multiple teams and more complex processes</p>
					<a href="<%= launch_server_path(type: "business")%>" class="btn theme-btn">Launch</a>
				</div>
			</div>
		</div>
	</div>
	<!-- END PRICING OPTION1 -->
</div>
<!-- END CONTAINER -->
<% content_for :inline_scripts do %>
<script type="text/javascript">
	$(function() {
		$('ul.navbar-nav li').removeClass('active');
		$('ul.navbar-nav li:nth-child(2)').addClass('active');

		/*$('.pricing').unbind('click').bind('click', function(){
		 $('.pricing').removeClass('pricing-active');
		 $('.pricing-head').removeClass('pricing-head-active');
		 $(this).addClass('pricing-active');
		 $(this).child('.pricing-head').addClass('pricing-head-active');
		 });*/
	}); 
</script>
<% end %>