/* here you can put your own css to customize and override the theme */

.header a.logo-v1 img {
	margin-top: 3px;
}

.slide_desc img{ 
	opacity: 0.7;
}	


@media (max-width: 992px) {
	.header a.logo-v1 img {
		margin-top: -8px;
	}

}

@media (min-width: 768px) and (max-width: 992px) {	
	.header .navbar-collapse{		
		margin-left: -5px;
	}
}	

.banner-msg{font-size:16px;}

.toast-top-right{top:110px;right:12px}

.pricing-active {  
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  -o-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}