<%= form_for(:user, as: resource_name, url: add_mail_path, class: "register-form") do |f| %>
	<h3>New User Registration</h3>
	<p>
		Please Enter your Twitter Email:
	</p>
	<div class="form-group">
		<label class="control-label visible-ie8 visible-ie9">
			Email
		</label>
		<div class="input-icon">
			<i class="fa fa-envelope"></i>
			<%= f.email_field :email, class: "form-control placeholder-no-fix", placeholder: "Email", required: true %>
		</div>
	</div>
	<div class="form-actions">
		<!--button id="register-back-btn" type="button" class="btn"-->
		<a href=<%= login_path %> class="btn default"> <i class="m-icon-swapleft"></i> Back to login </a>
		<button type="submit" id="register-submit-btn" class="btn green pull-right">
			Proceed <i class="m-icon-swapright m-icon-white"></i>
		</button>
	</div>
<% end %>

	
